@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 0.16rem; }

input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
  -webkit-appearance: none; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

.inner-width {
  width: 100%;
  padding: 0 0.34rem; }

.header {
  width: 100%;
  height: 1rem;
  background: #00d0ff;
  width: 100%;
  padding: 0 0.34rem;
  color: #fff;
  font-size: 0.36rem; }
  .header .top {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .top .title {
      height: 100%;
      width: 5.3rem;
      line-height: 1rem;
      text-align: center;
      letter-spacing: 0.05rem; }

.all {
  margin-top: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .all .container {
    width: 100%;
    padding: 0 0.34rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .all .container .credit-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .all .container .credit-list .list {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 0.3rem 0;
        border-bottom: 0.02rem dashed #a5a5a5; }
        .all .container .credit-list .list p {
          height: 0.5rem;
          color: #333;
          font-size: 0.24rem;
          text-align: center;
          line-height: 0.4rem;
          letter-spacing: 0.02rem; }
        .all .container .credit-list .list img {
          width: 3.1rem; }
        .all .container .credit-list .list input {
          width: 1.6rem;
          height: 0.4rem;
          letter-spacing: 0.01rem;
          border-radius: 0.05rem;
          border: none;
          outline: none;
          margin-top: 0.2rem;
          background: #daba3a;
          color: #ffffff; }

.footer {
  width: 100%;
  padding: 0 0.34rem; }
  .footer .ad {
    margin-top: 0.25rem;
    width: 1.85rem;
    border-right: 0.02rem dashed #a5a5a5;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer .ad i {
      display: block;
      width: 1.68rem;
      height: 1.68rem;
      overflow: hidden; }
      .footer .ad i img {
        width: 1.68rem;
        height: 1.68rem; }
  .footer .wechat {
    font-size: 0.26rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: right;
    color: #333333;
    border-top: 0.02rem dashed #a5a5a5;
    margin-top: 0.25rem; }
    .footer .wechat a {
      font-size: 0.3rem;
      color: #00d0ff;
      text-decoration: none; }
      .footer .wechat a span {
        font-size: 0.4rem; }
