@charset "UTF-8";
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 0.16rem;
  background-color: #ffffff; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

.inner-width {
  width: 100%;
  padding: 0 0.34rem; }

.header {
  width: 100%;
  height: 1rem;
  background: #00d0ff;
  width: 100%;
  padding: 0 0.34rem;
  color: #fff;
  font-size: 0.36rem; }
  .header .top {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .top .arrow {
      width: 0.45rem;
      height: 0.45rem;
      line-height: 0.45rem;
      text-align: center;
      font-size: 0.5rem;
      font-family: '宋体'; }
      .header .top .arrow a {
        text-decoration: none;
        color: #ffffff; }
    .header .top .title {
      height: 100%;
      width: 5.3rem;
      line-height: 1rem;
      text-align: center; }
      .header .top .title span {
        font-size: 0.45rem; }
    .header .top .none {
      width: 0.45rem;
      height: 0.45rem; }

.container {
  width: 100%;
  height: 58vh;
  width: 100%;
  padding: 0 0.34rem;
  justify-content: center;
  overflow: scroll;
  line-height: 0.23rem; }
  .container h1 {
    font-size: 0.18rem;
    padding: 0.1rem 0; }
  .container .title {
    text-align: center;
    padding: 0.18rem; }
  .container p {
    color: #333333; }

.footer {
  margin: 0.5rem 0 0 0;
  width: 100%;
  padding: 0 0.34rem;
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }
  .footer .line {
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .line i {
      height: 0.02rem;
      width: 40%;
      background: #909090;
      display: block; }
    .footer .line p {
      color: #aaa;
      font-size: 0.26rem; }
      .footer .line p span {
        font-size: 0.34rem; }
  .footer .avater {
    width: 1.3rem;
    height: 1.3rem; }
    .footer .avater img {
      width: 1.3rem;
      height: 1.3rem; }
  .footer .agreement {
    font-size: 0.24rem;
    color: #bcbcbc; }
    .footer .agreement a {
      text-decoration: none;
      color: #00d0ff; }
