$device-list: 320px 360px 365px 375px 384px 412px 414px 750px;
@each $width in $device-list {
  @media screen and (min-width: #{$width}) {
    html {
      font-size: ($width/750) * 100;
    }
  }
}

body {
  font-size: 0.16rem;
  //background-color: #00d0ff;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@mixin padding() {
  width: 100%;
  padding: 0 0.34rem;
}

.inner-width {
  @include padding;
}

.header {
  width: 100%;
  height: 1rem;
  background: #00d0ff;
  @include padding;
  color: #fff;
  font-size: 0.36rem;
  .top {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      height: 100%;
      width: 5.3rem;
      line-height: 1rem;
      text-align: center;
      letter-spacing: 0.05rem;
    }
  }

}
.all{
  width: 100%;
  height: auto;
  margin-top: 2.3rem;
  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    form {
      width: 5.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 0.3rem 0;
        .login {
          width: 60%;
          background: #00d0ff;
          color: #ffffff;
          font-size: 0.36rem;
          border: none;

      }

      input {
        width: 100%;
        height: 0.9rem;
        border: 0.02rem solid #c8c8c8;
        letter-spacing: 0.01rem;
        border-radius: 0.06rem;
        outline: none;
        margin-top: 0.39rem;
      }
    }

  }


  .footer {
    margin: 0.5rem 0 0 0;
    @include padding;
    display: flex;
    width: 100%;
    //height: 3.5rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .line {
      width: 100%;
      height: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #aaa;
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
        color: #ff7e00;
        font-weight: bold;
        span {
          font-size: 0.55rem;
        }
      }
    }
    .avater {
      width: 1.3rem;
      height: 1.3rem;
      img {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
    .agreement {
      font-size: 0.24rem;
      color: #bcbcbc;
      a {
        text-decoration: none;
        color: #00d0ff
      }
    }
  }
}
